﻿@model ClaimDesk.Web.Models.Claim.ChangeStatusClaimViewModel

@using (Html.BeginForm("ChangeStatus", "Claim", null, FormMethod.Post, new {@class = "form-horizontal"}))
{
	@Html.HiddenFor(model => model.ClaimId)
	<div class="modal fade" id="ClaimHistoryModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"></button>
					<h4 class="modal-title">Состояние заявки</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" id="NewStatusPanel">
						<label class="control-label">Новый статус:</label>
						<select id="NewStatus" name="NewStatus" class="form-control"></select>
						@Html.TextAreaFor(model => model.Reason, new {@class = "form-control", placeholder = "Основание смены статуса", required = "true" })
					</div>
					<table class="table table-bordered">
						<thead>
							<tr class="info">
								<th>Дата установки статуса</th>
								<th>Статус</th>
								<th>Причина</th>
							</tr>
						</thead>
						<tbody id="history">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button class="btn btn-primary" id="submitBtn" type="submit">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
}