﻿@model ClaimDesk.Web.Models.Claim.SaveClaimViewModel

@using (Html.BeginForm("Save", "Claim", null, FormMethod.Post, new {@class = "form-horizontal"}))
{
	@Html.HiddenFor(model => model.Id)
	<div class="modal fade" id="ClaimModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Описание заявки:</label>
						@Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="submit" class="btn btn-primary">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
}