﻿@using ClaimDesk.Engine.Enums
@using ClaimDesk.Web.Models.Claim
@model ClaimDesk.Web.Models.Claim.IndexClaimViewModel
@{
	ViewBag.Title = Model.Title;
}
<h2>@Model.Title</h2>

<p>
	@using (Html.BeginForm("Index", "Claim", null, FormMethod.Post, new {@class = "form-inline"}))
	{
		<div class="form-group">
			Заявки c
		</div>
		<div class="form-group">
			@Html.EditorFor(model => model.MinDate, new {htmlAttributes = new {@class = "form-control", type = "date"}})
		</div>
		<div class="form-group">
			Заявки по
		</div>
		<div class="form-group">
			@Html.EditorFor(model => model.MaxDate, new {htmlAttributes = new {@class = "form-control", type = "date"}})
		</div>
		<div class="form-group">
			Статус заявки
		</div>
		@Html.DropDownListFor(model => model.Status,
			((ClaimStatus[]) Enum.GetValues(typeof (ClaimStatus))).Select(status => new SelectListItem {Value = status.ToString(), Text = status.GetDescription()}),
			"Выберите статус", new {@class = "form-control"})
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-search"></span> Поиск
		</button>
	}
</p>

<p>
	<button type="button" class="btn btn-success" onclick="showCreateModal()">Создать новую</button>
</p>

<table class="table table-bordered table-hover">
	<thead>
	<tr class="info">
		<th>Ид</th>
		<th>Дата создания</th>
		<th>Описание</th>
		<th>Статус</th>
		<th>Дата установки статуса</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var claim in Model.Claims)
	{
		<tr>
			<td>
				@claim.Id
			</td>
			<td>@claim.CreationDate</td>
			<td>
				<span id="desc-@claim.Id">@claim.Description</span>
				<button class="btn btn-link pull-right" onclick="showUpdateModal(@claim.Id, $('#desc-@claim.Id').text())">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</td>
			<td class="row">
				<button class="btn btn-link pull-right" onclick="showCommentModal(@claim.Id)">
					@claim.Status.GetDescription()
				</button>
			</td>
			<td>@claim.СhangeDate</td>
			<td>
				<a href="@Url.Action("Delete", new {id = claim.Id})" class="btn btn-danger btn-xs" onclick="return confirm('Вы действительно хотите удалить заявку @claim.Id?')">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</td>
		</tr>
	}
	</tbody>
</table>

@section scripts
{
	@Html.Partial("_ClaimModal", new SaveClaimViewModel())
	@Html.Partial("_ClaimHistoryModal", new ChangeStatusClaimViewModel())

	<script>
		function showModal(title, id, desc) {
			$("#ClaimModal .modal-title").html(title);
			$("#Id").val(id);
			$("#Description").html(desc);

			$("#ClaimModal").modal("show");
		}

		function showUpdateModal(id, desc) {
			showModal("Редактирование заявки №" + id, id, desc);
		}

		function showCreateModal() {
			showModal("Создание заявки");
		}

		function showCommentModal(id) {
			$.ajax({
				url: "@Url.Action("GetClaimHistory", "Claim")",
				data: {
					claimId: id
				},
				success: function (data) {

					$("#history").empty();
					$.each(data.history, function (index, item) {
						$("#history").append($("<tr></tr>")
							.html("<td>" + item.СhangeDate + "</td>")
							.append("<td>" + item.StatusDescription + "</td>")
							.append("<td>" + item.Reason + "</td>"));
					});

					$("#NewStatus option").remove();
					if (data.statuses.length === 0) {
						$("#NewStatusPanel").hide();
						$("#submitBtn").hide();
					} else {
						$("#NewStatusPanel").show();
						$("#submitBtn").show();

						$.each(data.statuses, function(index, item) {
							$("#NewStatus").append(
								$("<option></option>")
								.text(item.text)
								.val(item.value)
							);
						});
					}
				}
			});
			$("#ClaimId").val(id);

			$("#ClaimHistoryModal").modal("show");
		}
	</script>
}