﻿@model ClaimDesk.Web.Models.Claim.SaveClaimViewModel
@{
	ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Claim", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.HiddenFor(model => model.Title)
	<div class="form-group">
		<div class="col-md-2 control-label">
			Ид
		</div>
		<div class="col-md-5">
			@Html.DisplayFor(model => model.Claim.Id, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-2 control-label">
			Дата создания
		</div>
		<div class="col-md-5">
			@Html.DisplayFor(model => model.Claim.CreationDate, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-2 control-label">
			Описание
		</div>
		<div class="col-md-2">
			@Html.EditorFor(model => model.Claim.Description, new { htmlAttributes = new { @class = "form-control", min = 14 } })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-2 control-label">
			Статус
		</div>
		<div class="col-md-5">
			1
			@*@Html.DropDownListFor(model => model.Claim.Status, Model.Languages, "Выберите отдел", new {@class = "form-control"})*@
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<button type="submit" class="btn btn-primary btn-block">Сохранить</button>
		</div>
		<div class="col-md-2">
			@Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default btn-block" })
		</div>
	</div>
}